@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

.map {
    cursor: pointer;
}

.ol-attribution {
    position: fixed;
    bottom: 5px;
    color: black;
}

.ol-rotate {
    visibility: hidden;
}

.ol-zoom {
    position: fixed;
    top: 1rem;
    left: 1rem;
}

.info-card {
    color: #00aeff;

    position: fixed;
    top: 5rem;
    right: 5rem;
    width: 500px;
    height: 500px;

    padding: 2rem;


    /* https://hype4.academy/tools/glassmorphism-generator */
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
